@import "tailwindcss";

@theme {

  /* Colors */
  --color-primary: #0A2A54;
  --color-accent: #D4AF37;

  --color-background-light: #F8F8F8;
  --color-background-dark: #101922;

  --color-card-light: #FFFFFF;
  --color-card-dark: #1C2A38;

  --color-text-primary-light: #333333;
  --color-text-secondary-light: #888888;

  --color-text-primary-dark: #F8F9FA;
  --color-text-secondary-dark: #A0AEC0;

  --color-light-blue: #90CAF9;
  --color-soft-blue: #C4DAF1;

  --color-soft-primary: #5F7C9E;
  --color-soft-primary-dark: #476380;

  --color-normal-blue: #3366CC;
  --color-soft-accent: #E8D8A8;

  /* Fonts */
  --font-display: Inter, sans-serif;

  /* Border radius */
  --radius: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-full: 9999px;
}



  .material-symbols-outlined {
            font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }

        .material-symbols-rounded {
            font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
        }

        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        .no-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .filter-panel {
            transform: translateX(100%);
            transition: transform 0.3s ease-out;
        }

        .filter-panel.open {
            transform: translateX(0);
        }


/* GoogleButton styling */
.googleSocialBtn {
  
  padding: 0.75em 1.25em;
   width: 100%;
  border: 1px solid #dadce0;
  border-radius: 4px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.4,0,0.2,1);
}

.googleSocialBtn:hover {
  background: #f8faff;
  border-color: #d2e3fc;
  box-shadow: 0 1px 3px rgba(66,133,244,0.15);
}


.googleLogo {
  width: 24px;
  height: 24px;
  margin-top: 1px;
}
